@bgcolor: #f7f4e2 !important;
// @bgcolor: white !important;

html {
    font-size: 16px;
    background: @bgcolor;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0099ff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {

    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


.transition (@prop: all, @time: 300ms, @ease: ease) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}


.progress {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;

    display: grid;
    align-items: center;
    justify-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.highlight {
    background-color: #ffff00;
}

.quill-image {
    object-fit: cover;
    max-width: 300px;
    // max-height: 200px;
    overflow: hidden;
}

.quill-restyle {
    img {
        max-width: 100px !important;
        max-height: 100px !important;
    }
}

.top-bar {
    background: @bgcolor;
    border-bottom: 1px solid lightgray;
}

.album-page {
    padding-top: 20px;
    padding-bottom: 20px;
    background: @bgcolor;

    .person {
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .album {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: calc((100vh - 52px - 60px - 43px)/2);

        .photo {
            position: relative;
            cursor: pointer;
            display: grid;
            justify-items: center;
            max-height: 100%;

            img {
                max-height: 100%;
                max-width: 100%;
            }

            .photo-remove {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }
}

.people-page {
    padding-top: 20px;
    padding-bottom: 20px;
    background: @bgcolor;
}


.modal-content {
    background: @bgcolor;
    display: grid;
    grid-auto-flow: row;
    max-height: calc(100vh - 20px);
    max-width: calc(100vh - 20px);
    overflow: hidden;
    padding: 10px;
    row-gap: 10px;
    width: 100%;

    .modal-content-body {
        display: grid;
        justify-items: center;
        overflow: hidden;
        position: relative;

        .person-edit {
            position: absolute;
            z-index: 100;
            bottom: 5px;
            left: 0px;
            padding: 5px;
            background: white;
            border-radius: 4px;
            border: 1px solid black;
        }

        .modal-content-image {
            position: relative;
            max-width: fit-content;
            max-height: fit-content;
            overflow: hidden;
            // background: red;
            height: 100%;

            img {
                max-height: 100%;
            }

            .pointer {
                cursor: pointer;
                height: 30px;
                left: 100px;
                position: absolute;
                top: 100px;
                width: 30px;
            }

            .pointer-title {
                background: white;
                border-radius: 3px;
                bottom: -15px;
                color: black;
                font-size: 12px;
                line-height: 12px;
                opacity: 0%;
                padding: 2px;
                position: absolute;
                width: max-content;
            }

            .pointer-title-hover {
                opacity: 100%;
            }

            .pointer-content {
                background: white;
                height: 100%;
                opacity: 0%;
                width: 100%;

                transition: all 1s ease;
            }

            .pointer-select {
                background: yellow;
                border: 2px dashed black;
                cursor: move;
                opacity: 30%;
                transition: none;
                z-index: 100;
            }

            .pointer-hover {
                background: rgb(65, 219, 59);
                border: 2px dashed black;
                opacity: 30%;
            }
        }
    }

    .modal-content-tags {
        column-gap: 10px;
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        max-width: 100%;
        row-gap: 10px;
        width: 100%;

        .tag {
            transition: all 1s ease;
            cursor: pointer;

            &:hover {
                background: #0099ff;
                color: white;
            }
        }

        .tag-hover {
            background: #0099ff;
            color: white;
        }

        .tag-edit {
            background: green;
            color: white;
        }
    }

    .modal-content-description {
        justify-self: center;
    }
}