<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="./img/favicon.png"/>
  <title>Album</title>
  <!-- Bulma -->
  <link rel="stylesheet" href="./css/bulma.min.css">
  <!-- Fontawesome -->
  <script defer src="./lib/fontAvesomeAll.js"></script>
  <!-- Vue -->
  <script src="./lib/vue.js"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>-->
  <!-- Vue router -->
  <script src="./lib/vue-router.js"></script>

  <!-- Quill Editor-->
  <!-- Include the Quill library -->
  <script src="./lib/quill.js"></script>
  <!-- Quill JS Vue -->
  <script src="./lib/vue-quill-editor.js"></script>
  <!-- Include stylesheet -->
  <link href="./css/quill.snow.css" rel="stylesheet">

  <!-- Style -->
  <link rel="stylesheet" href="./css/style.css">

  <!-- Data -->
  <script src="./Dane.js"></script>

  <script>
    var beforeunload = function (e) {
      // Cancel the event
      e.preventDefault();
      // Chrome requires returnValue to be set
      e.returnValue = '';
    };

    function removeBeforeunload(){
      window.removeEventListener('beforeunload', beforeunload);
    }

    function addBeforeunload(){
      window.addEventListener('beforeunload', beforeunload);
    }
  </script>

  <script src="./src/vue_store.js"></script>
  <script src="./src/vue_topbar.js"></script>
  <script src="./src/vue_utils.js"></script>
  <script src="./src/vue_quill.js"></script>
  <script src="./src/vue_picture.js"></script>
  <script src="./src/vue_person.js"></script>
  <script src="./src/vue_album.js"></script>
  <script src="./src/vue_people.js"></script>
  <script src="./src/vue_routes.js"></script>
</head>

<body>
  <div id="app">
    <spinner v-if="sharedState.isSpinnerVisible"></spinner>
    <top-bar></top-bar>
    <router-view></router-view>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      router: router,
      data: {
        sharedState: store.state,
        router: router,
      },
      created: function () {
        var path = router.currentRoute.path;

        if (!path || path == '/') {
          router.push('/album');
        }

        store.dataRecalculate(dane);
      },
      watch: {
        // Router - Watching router's current route.
        //       'router.currentRoute.path' () {
        //          var path = router.currentRoute.path;
        //          var now = new Date();
        //          var state = {
        //            'timestamp': now.getTime()
        //          };
        //          google.script.history.push(state, {}, path);
        //       }
      },
      methods: {}
    });
  </script>
</body>

</html>