<div class="modal" :class="{'is-active': true}" @click.stop="pictureClose" v-if="sharedState.pictureOpened">
<div class="modal-background"></div>
<div class="modal-content" @click.stop="">
    <div class="modal-content-body">
      <div class="modal-content-image" @click.stop="" v-if="sharedState.pictureOpened.plik">
          <img ref="image" :src="sharedState.pictureOpened.plik">
          <div class="pointer pointer-select" :style="{'left': pointer.x + 'px', 'top': pointer.y + 'px', 'width': pointer.b + 'px', 'height': pointer.b + 'px'}" @mousedown="dragMouseDown" @mouseleave="closeDragElement" v-if="pointerVisible"></div>
          <div 
          class="pointer"
          :style="{'top': person.y + '%', 'left': person.x + '%', 'width': person.b + 'px', 'height': person.b + 'px'}"
          v-for="person in sharedState.pictureOpened.osoby" 
          v-if="person.x && person.y"
          @mouseover="tagHover(person)"
          @mouseleave="tagLeave(person)"
          >
          <div 
              class="pointer-content"
              :class="{'pointer-hover': person.id == hoveredPersonId}"
          ></div>
          <div 
              class="pointer-title"
              :class="{'pointer-title-hover': person.id == hoveredPersonId}"
              >{{ sharedState.album.osobyById[person.id].imie }} {{ sharedState.album.osobyById[person.id].nazwisko }}</div>
          </div>
      </div>
      <div class="field" v-else>
        <div class="control">
            <input class="input" type="file" @change="previewFile">
        </div>
      </div>
    </div>
    <div>{{ sharedState.pictureOpened.opis }}
    <button class="button is-white is-small" :class="{'is-link': descriptionEditVisible}" @click.stop="toggleDescriptionEdit"  title="Edytuj opis">
        <span class="icon is-small">
        <i class="fas fa-pen"></i>
        </span>
    </button>
    </div>
    <div v-if="descriptionEditVisible">
    <textarea class="textarea" placeholder="Opis zdjęcia" v-model="sharedState.pictureOpened.opis"></textarea>
    <!--<quill-editor v-model="sharedState.pictureOpened.opis" ref="quillEditorA" :options="quillSettings"></quill-editor>-->
    </div>
    <div class="modal-content-tags">
    <span 
        class="tag is-white" 
        :class="{'tag-hover': person.id == hoveredPersonId, 'tag-edit': personEdit && person.id == personEdit.id}" 
        v-for="person in sharedState.pictureOpened.osoby" 
        @mouseover="tagHover(person)" 
        @mouseleave="tagLeave(person)"
        @click.stop="editPerson(person)"
    >{{ sharedState.album.osobyById[person.id].imie }} {{ sharedState.album.osobyById[person.id].nazwisko }}</span>
    <span class="tag is-white" @click.stop="showNewPersonForm" v-if="!newPersonFormVisible" title="Nowa osoba">+</span>
    </div>
    <div v-if="newPersonFormVisible">
    <div class="field is-horizontal is-grouped">
        <div class="control">
            <div class="select is-small">
                <select v-model="newPersonId">
                <option>Wybierz osobę</option>
                <option :value="person.id" v-for="person in sharedState.album.osoby">{{ person.nazwisko }} {{ person.imie }}</option>
                </select>
            </div>
        </div>
        <div class="control">
            <button class="button is-small" :class="{'is-link': pointerVisible}" @click.stop="togglePointer" title="Dodaj/Usuń zaznaczenie">
            <span class="icon is-small">
                <i class="fas fa-vector-square"></i>
            </span>
            </button>
        </div>
        <div class="control" v-if="pointerVisible">
            <div class="select is-small">
            <input class="input is-info is-small" type="number" min="10" max="100" v-model="pointer.b">
            </div>
        </div>
        <div class="control">
            <button class="button is-link is-small" @click.stop="savePerson" :disabled="!newPersonId" title="Dodaj osobę">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            </button>
        </div>
        <div class="control">
            <button class="button is-link is-light is-small" @click.stop="closeNewPersonForm" title="Anuluj">
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
            </button>
        </div>
        <div class="control" v-if="personEdit">
            <button class="button is-danger is-light is-small" @click.stop="removePerson" title="Usuń osobę">
            <span class="icon is-small">
                <i class="fas fa-trash-alt"></i>
            </span>
            </button>
        </div>
    </div>
    </div>
    <div class="field is-grouped" v-if="sharedState.pictureOpened.new">
    <div class="control">
        <button class="button is-link is-small" @click.stop="savePicture" :disabled="!sharedState.pictureOpened.plik">Zapis</button>
    </div>
    <div class="control">
        <button class="button is-link is-light is-small" @click.stop="pictureClose">Anuluj</button>
    </div>
    </div>
</div>
<button class="modal-close is-large" aria-label="close" @click.stop="pictureClose"></button>
</div>